@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: aparecer 2s ease;
}

@keyframes aparecer {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

body {
  background-color: $blanco;
  font-family: 'Rajdhani', sans-serif;
  @include fondo(url(../images/majorCSGo.jpg));
}

//ESTILOS HEADER//

.header {
  @include flex(center, center);
  flex-direction: column;
  text-align: center;
  &_li{
    list-style-type: none;
    margin-top: .3rem;
    margin: 1rem;
    }
  &_link{
    text-decoration: none;
    color: $blanco;
    font-size: 1.7rem;
    font-weight: 800;
    &-modificador{
      color: $azulClaro;
      margin-bottom: .3rem;
    }
  }
}

//ESTILOS INDEX//

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .2rem auto;
  border-radius: 1.2rem;
  color: $blanco;
  @include fondo(url(../images/majorCSGo.jpg));
  background-attachment: fixed;
  background-color: rgb(100, 100, 135);
  background-blend-mode: soft-light;
  &_titulo{
    color: $blanco;
    font-size: 5rem;
    & span{
      color: $azulClaro;
    }
  }
  &_subtitulo{
    display: none;
  }
  &_promocion{
    @include flex(center, center);
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &_imagen{
    width: 15rem;
  }
  &_btn{
    width: 60%;
    font-size: 2rem;
    background-color: $azulClaro;
    font-weight: 800;
    color: $blanco;
    margin-bottom: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
  }
}

.motivacion{
  @include flex(space-around, center);
  width: 100%;
  @include fondo(url(../images/majorCSGo.jpg));
  background-attachment: fixed;
  background-color: rgb(20, 20, 20);
  background-blend-mode: soft-light;
  margin-bottom: 5rem;
  &_imagen{
    width: 6rem;
  }
  &_caja2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight:800;
  }
  &_titulo{
    font-size: 3rem;
    color: $azulClaro;
  }
  &_subtitulo{
    font-size: 1.6rem;
    color: $blanco;
  }
 }

.videos{
  @include flex(space-around, center);
  flex-direction: column;
  text-align: center;
  width: 100%;
  &_titulo{
    font-size: 3rem;
    color: $blanco;
    border-top: 1px solid $blanco;
    border-bottom: 1px solid $blanco;
    margin-bottom: 1rem;
    @include fondo(url(../images/majorCSGo.jpg));
    background-attachment: fixed;
    background-color: rgb(20, 20, 20);
    background-blend-mode: soft-light;
  }
  &_iframe{
    width: 70%;
    margin: 1rem;
  }
}

//ESTILOS FOOTER//

.footer{
  @include flex(center, center);
  flex-direction: column;
  text-align: center;
  & span{
    display: none;
  }
  &_caja1{
    border-top: 1px solid $blanco;
  }
  &_caja1, &_caja2{
    @include flex(center, center);
    flex-wrap: wrap;
  }
  &_marcas{
    color: $blanco;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem;
  }
}

//ESTILOS EQUIPOS//

.equipos_imagen1, .equipos_imagen2, .equipos_imagen3{
background-position: center;
background-size: cover;
}

.equipos_imagen1{
  background-image: url(../images/equipos/Dota2--equipos.jpg);
}

.equipos_imagen2{
  background-image: url(../images/equipos/CSGO--equipos.jpeg);
}

.equipos_imagen3{
  background-image: url(../images/equipos/apex-Equipos.jpg);
}

.equipos_cajaGrande{
  @include fondo(url(../images/majorCSGo.jpg));
  background-color: rgb(58, 53, 53);
  background-blend-mode: soft-light;
  border-top: 2px solid $azulClaro;
  border-bottom: 3px solid $azulClaro;
}
.equipos_caja{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: $blanco;
}

.equipos_tituloJuego{
  color: $blanco;
  font-size: 3rem;
}

.equipos_titulo{
  font-size: 1.5rem;
  font-weight: 800;
  background-color: $azulClaro;
}

.equipos_cajita{
  @include flex(space-between, center);
  margin: .1rem;
}

.equipos_nombre{
  color: $blanco;
  font-size: 1.2rem;
}

.equipo_steam{
  width: 1rem;
}

//ESTILOS TIENDA//


.tienda{
  background-color: rgba(0, 0, 0, 0.74);
  backdrop-filter: blur(2.0px);
  color: $blanco;
  @include flex(center, center);
  flex-direction: column;
  &_tituloYcarrito{
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include flex(space-between, center);
    width: 100%;
  }
  &_titulo{
    font-size: 2.5rem;
  }
  &_carrito{
    width: 2.5rem;
    background-color: $azulClaro;
    border-radius: 100%;
  }
  &_caja{
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
  }
  &_producto{
    @include flex(center, center);
    flex-direction: column;
    border: 1px solid $azulClaro;
    border-radius: 1rem;
    width: 80%;
    margin: 1rem;
  }
  &_img1, &_img2{
    width: 8rem;
  }
  &_imgOtros{
    width: 10rem;
  }
  &_img2{
    display: none;
  }
  &_nombre{
    font-size: 1.5rem;
  }
  &_marcas{
    @include flex(space-around, center);
    width: 100%;
    height: 30vh;
    @include fondo(url(../images/majorCSGo.jpg));
    background-attachment: fixed;
    background-color: rgb(20, 20, 20);
    background-blend-mode: soft-light;
    overflow: hidden
  }
  &_marcasImg{
    width: 5rem;
    margin: 2rem;
  }
}

//ESTILOS HORARIOS//

.horarios{
  margin: 1rem;
  @include flex(center, center);
  flex-direction: column;
  color: $blanco;
  &_titulo{
    align-self: center;
    background-color: $azulClaro;
    width: 95%;
    font-size: 2rem;
    text-align: end;
    margin: 1rem ;
    font-weight: 800;
    color: $blanco;
  }
  &_fecha{
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: underline;
  }
  &_equipos{
    @include flex(space-evenly, center);
    text-align: center;
  }
  &_vs{
    font-size: 1.5rem;
    font-weight: 800;
    color: $azulClaro;
  }
  &_iconos{
    width: 5rem;
  }
  &_btn{
    text-decoration: none;
    color: $negro;
    align-self: center;
    text-align: center;
    width: 30%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 3s ease all;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: $azulClaro;
    margin-bottom: 1rem;
  }
  &_cajas{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 1rem;
    border-radius: 1rem;
    background-size: cover;
    background-color: rgb(20, 20, 20);
    background-blend-mode: soft-light;
  }
  &_cajas-1{
    background-image: url(../images/horarios/horariosCsGo.jpg);
    background-position: bottom;
  }
  &_cajas-2{
    background-image: url(../images/horarios/horariosApex.jpg);
    background-position: left;
  }
  &_cajas-3{
    background-image: url(../images/horarios/horariosDota22.jpg);
    background-position: bottom;
  }
}

//ESTILOS CONTACTO//

.contacto_imagen{
  background-image: url(../images/contacto/BannerContacto.png);
  background-position: center;
}


//RESPONSIVE//
@include pantallaMedina{
  .header{
    &_ul{
      @include flex(center, center);
      flex-wrap: wrap;
    }
    &_link{
      font-size: 1.4rem;
    }
  }
  
  //ESTILOS INDEX//
  .banner{
    width: 80%;
    &_caja2{
      width: 50%;
      margin: 1rem;
    }
    &_promocion{
      border-radius: 1rem;
      background-color: rgb(200, 200, 200, 0.30);
      backdrop-filter: blur(4.0px);
    }
    &_imagen{
      width: 10rem;
    }
    &_btn{
      font-size: 1.5rem;
    }
  }
  
  .motivacion{
    &_caja2{
      width: 60%;
    }
    &_titulo{
      font-size: 1.8rem;
    }
    &_subtitulo{
      font-size: 1.1rem
    }
   }
  .videos{
    &_titulo{
      font-size: 2rem;
    }
    &_iframe{
      width: 50%;
      height: 200;
    }
  }

  //ESTILOS TIENDA//
  .tienda{
    &_producto{
      width: 40%;
    }
    &_nombre{
      text-align: center;
    }
  }
}


@include pantallaGrande{

  //HEADER//
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    &_cajaLogo{
      margin-left: 2rem;
    }
    &_ul{
      @include flex(flex-end, flex-end);
      flex-direction: row;
      margin-right: 2rem;
    }
    &_link{
      font-size: 1.4rem;
      transition: .5s;
      cursor: pointer;
      &:hover{
        color:$azulClaro;
        transition: 0.4s;
      }
    }
  }

  //ESTILOS INDEX//
  .banner{
    @include flex(space-around, center);
    flex-direction: row;
    width: 95%;
    border-radius: 1.2rem;
    height: 85vh;
    margin-bottom: 3rem;
    &:hover span{
      transition: .5 ease;
      color: $azulClaro;
    }
    & span{
      transition: .5s;
    }
    &_caja1{
      width: 50%;
    }
    &_titulo{
      font-size: 9.5rem;
      & span{
        color: $blanco;
      }
    }
    &_subtitulo{
      display: inline-block;
    }
    &_promocion{
      border-radius: 1rem;
      background-color: rgb(200, 200, 200, 0.30);
      backdrop-filter: blur(4.0px);
      transition: 1s;
      &:hover{
        transition: 1s;
        background-color: rgb(50, 50, 50, 0.30);
      }
    }
    &_imagen{
      width: 20rem;
    }
    &_btn{
      width: 40%;
      transition: 1s;
      background-color: $negro;
      &:hover{
        transition: .5s;
        background-color: $azulClaro;
      }
    }
  }

  .motivacion{
    &:hover .motivacion_titulo{
      color: $azulClaro;
      transition: .5s;
    }
    &_caja1{
      width: 20%;
      text-align: right;
    }
    &_imagen{
      width: 10rem;
    }
    &_caja2{
      width: 60%;
    }
    &_titulo{
      font-size: 2.5rem;
      color: $blanco;
      transition: .5s;
    }
    &_subtitulo{
      font-size: 1.8rem;
    }
  }

  .videos{
    &_titulo{
      width: 50%;
      font-size: 4rem;
    }
    &_iframe{
      width: 40%;
    }
  }

  //ESTILOS FOOTER//
  .footer{
    margin-top: 5rem;
    & span{
      display: inline;
      color: $blanco;
      padding: .5rem;
    }
    &_caja1, &_caja2{
      padding: 1rem;
      margin-left: 3rem;
    }
    &_marcas:hover{
      color:$azulClaro;
    }
  }

  //ESTILOS TIENDA//

  .tienda{
    &_tituloYcarrito{
      justify-content: space-around;
    }
    &_caja{
      @include flex(space-around, center);
      flex-direction: row;
      flex-wrap: wrap;
    }
    &_producto{
      width: 20rem;
      height: 35rem;
      text-align: center;
      transition: all .5s ease;
      &-modificador{
        width: 26%;
        justify-content: center;
        height: 25rem;
      }
      &:hover{
        transition: all .5s ease;
        color:black;
        background-color: #ECEDED;
      }
      &:hover .tienda_img1{
        display: none;
      }
      &:hover .tienda_img2{
        display: block;
      }
    }
    &_img1, &_img2{
      width: 18rem;
    }
    &_nombre{
      font-size: 2rem;
    }
    &_imgOtros{
      width: 10rem;
    }
  }

  //ESTILOS HORARIOS//
  .horarios{
    &_cajas{
      width: 75%;
    }
    &_iconos{
      width: 7rem;
    }
    &_btn{
      width: 20%;
      background-color: $blanco;
      &::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #20aafa;
        position: absolute;
        z-index: 1;
        top: 0;
        left: -100%;
        transition: .4s ease-in-out all;
      }
      &:hover::after{
        left: 0;
      }
      &:hover span{
        color: $blanco;
      }
    }
    &_span{
      font-size: 1.5rem;
      position: relative;
      z-index: 2;
      transition: .3s ease all;
    }
  
  }

    .btn-modificador{
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 0;
    border: 1px solid $negro;
  }
}


@include pantallaMasGrande{
  .header_link{
    font-size: 1.8rem;
  }
}